@require '../_tools'

_parse-font()
	_style = ()
	_size = ()
	_line = ()
	_family = ()
	for arg in arguments
		if typeof(arg) == 'unit'
			p(arg)
			if _size
				p('line')
			else
				p('size')
				_size = arg

// @font-face {
	
// 	font-family: "Noto Sans";
// 	font-weight: 400;
// 	font-style: normal;

// 	src: url("../fonts/notosans/notosans.eot");
// 	src: url("../fonts/notosans/notosans.eot?#iefix") format("embedded-opentype"),
// 		 url("../fonts/notosans/notosans.woff") format("woff"),
// 		 url("../fonts/notosans/notosans.ttf") format("truetype"),
// 		 url('../fonts/notosans/notosans.svg#notosans') format('svg');
// }

fonts = {
	base: {
		family: "'Helvetica Neue', Arial, sans-serif"
	},
	heading: {
		family: "'Roboto Slab', 'Times New Roman', serif",
		weight: 600
	}
}

font()
	_font = _parse-font(arguments)
	_args = ()
	for arg in arguments
		if not fonts[arg]
			push(_args, arg)
			p(arg)
			p(_args)
	font: _args

// Font(fz, lh)
// 	if (fz)
// 		font-size fz
// 		if (lh)
// 			line-height lh


// BaseFont(fz, lh)
// 	font-family 'Helvetica Neue', Arial, sans-serif
// 	Font fz lh


// HeadingFont(fz, lh) 
// 	font-family 'Roboto Slab', 'Times New Roman', serif
// 	font-weight 600
// 	Font fz lh

.foo {
	font: italic 12px/14px base
}
